.imageDirection {
    text-align: center;
    padding: 20px;
}
.noResult {
    font-size: 30px;
    text-align: center;
    padding: 80px 100px 130px 100px;
}
.borderForLogos {
    box-shadow: 1px 1px 4px;
    cursor: pointer;
}
.defaultImage {
    cursor: pointer;
}