.blackCardWrapper {
    display: grid;
    grid-template-columns: 2.5fr 10fr;
    background:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)) no-repeat;
    background-size: 100%;
}
.witheCardWrapper {
    display: grid;
    grid-template-columns: 2.5fr 10fr;
    background:
            linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)) no-repeat;
    background-size: 100%;
}

.CardImage {
}