.blackCardWrapper {
    display: grid;
    grid-template-columns: 2.5fr 10fr;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)) no-repeat;
    background-size: 100%;
}

.witheCardWrapper {
    display: grid;
    grid-template-columns: 2.5fr 10fr;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1)) no-repeat;
    background-size: 100%;
}

.voteAverage {
    font-size: 18px;
    cursor: pointer;
}

.language {
    text-transform: uppercase;
}

.ratedSeriesButton {
    left: 50px;
    top: 3px;
}

.ratedSeriesLink {
    padding: 6px;
}

.backLink {
    font-size: 20px;
    position: relative;
    bottom: 4px;
    text-decoration: underline;
}

.blackEpisodeCardWrapper {
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)) no-repeat;
    background-size: 100%;
}

.witheEpisodeCardWrapper {
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1)) no-repeat;
    background-size: 100%;
}

.EpisodeDetails {
    margin-right: 15px;
}
.titleWrapper {
    display: flex;
    margin-bottom: 20px;
}

.seriesPageTitle {
    position: relative;
    bottom: 5px;
    left: 20px;
}
.HeadTitle {
    display: flex;
}
.title {
    position: relative;
    top: 7px;
    left: 17px;
}
.totalItemCount {
    margin-left: 5px;
    font-size: 12px;
    opacity: 70%;
}
.myListTitle {
    padding-bottom: 10px;
}
.myListResultCount {
    opacity: 70%;
    font-size: 16px;
    padding-left: 8px;
}
.listWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.listItem {
    margin-right: 20px;
}
.listItemDark {
    background: #272727;
    text-align: center;
}
.listItemLight {
    background: #efebeb;
    text-align: center;
}
.listName:hover {
    cursor: pointer;
    opacity: 80%;
}