.personWrapper {
    display: grid;
    grid-template-columns: 3fr 7fr;
}
.profileImage {
    width: 300px;
    border-radius: 5px;
}
.biography {
    white-space: pre-line;
    margin-bottom: 30px;
}
.title {
    margin-top: 14px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.name {
    margin-top: 0;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.subTitle {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}
.CommonInfo {
    opacity: 80%;
    display: block;
}
.showBiography {
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.showBiography:hover {
    transition: 0.3s;
    color: #4f7ab2;
}
.backToProfileButton {
    font-size: 16px;
    margin-left: 8px;
}
.backToProfileWrapper {
    padding-left: 20px;
    background: #efe9e9;
    padding-bottom: 20px;
}
.photosWrapper {
    padding: 20px;
}