.mediaTitle {
    font-size: 25px;
    color: #272727;
    transition: 0.3s;
    text-decoration: none;
}
.mediaTitle:hover {
    color: #795688;
    transition: 0.3s;
}
.mediaDate {
    font-size: 20px;
    color: #594d59;
}
.mediaTitleWrapper {
    padding: 20px;
    background: #d7d3d3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}